extends layout


block CONTENT
  h1 Create a New Module
  form(role="form",action='/cms/add_module',method='POST')
    div.form-group
      label(for="name_script") Name of module
      input(id="name_module",name='name_module', type="text", class="form-control" , placeholder="Enter script name" , value="#{name}")
    div.row
      div.col-md-6
        h3 Form / show table 
        div.table-responsive
            table.table.table-striped(id="tab_form")
              thead
                tr
                  th Index
                  th Show?    
                  th Name
                  th key
                  th
              tbody
              each row in forms 
                tr(id="tr-from-#{row[2]}")
                  th
                    select.form-control(name='index[]')  
                        option(value='no') No
                        if (row[0]=='yes')
                         option(value='yes' selected) Yes
                        else
                         option(value='yes' ) Yes
                  th  
                    select.form-control(name='show[]')
                        option(value='no') No
                        if (row[1]=='yes')
                         option(value='yes' selected) Yes
                        else
                         option(value='yes' ) Yes

                  th
                    input(name='name_field[]', type="text", class="form-control" , placeholder="Enter name field",value="#{row[2]}")
                  th
                    input(name='key_field[]', type="text", class="form-control" , placeholder="Enter name field",value="#{row[3]}")
                  th
                    a(onclick="add_row('tab_form')")
                      span(class="glyphicon glyphicon-plus-sign",style="margin-top:8px;")
                    a(onclick="delete_row('tr-from-#{row[2]}')")
                      span(class="glyphicon glyphicon-trash",style="margin-top:8px;")
             
      div.col-md-6
        h3 Button Command
        div.table-responsive
            table.table.table-striped(id="tab_cmd")
              thead
                tr
                  th Color
                  th Button name
                  th Script
                  th Argv
                  th
              tbody
               each row in buttons
                tr(id="tr-bt-#{row[1]}")
                  th
                    select.form-control(name='button_color[]')
                      option(selected) #{row[0]}  
                      option Red
                      option Green
                      option Blue
                      option Orange
                  th
                    input(name='button_name[]', type="text", class="form-control" , placeholder="Enter name of button",value="#{row[1]}")
                  th
                    input(name='button_script[]', type="text", class="form-control" , placeholder="Enter name script",value="#{row[2]}")
                  th
                    input(name='button_argv[]', type="text", class="form-control" , placeholder="Enter argv",value="$#{row[3]}")
                  th
                    a(onclick='add_row("tab_cmd")')
                      span(class="glyphicon glyphicon-plus-sign",style="margin-top:8px")
                    a(onclick="delete_row('tr-bt-#{row[1]}')")
                      span(class="glyphicon glyphicon-trash",style="margin-top:8px;")

    button(type="submit" ,style="margin-top: 20px",class="btn btn-lg btn-block btn-success") Save
       
        script.
            
            function add_row(id_tab)
            {
                var row ;
                row = $('#'+id_tab+'  tr:last').clone();
                $('#'+id_tab+' tr:last').after(row);
            }
            function delete_row(id)
            {
                $('#'+id).remove();
            }
