
extends ../layout
 

block CONTENT
  h1.page-header Manage_DHCP
            a(href="/cms/edit_module/Manage_DHCP")
                span(class="glyphicon glyphicon-cog pull-right")
  ul(class="nav nav-tabs nav-justified")
            li.active
                a(href="/module/Manage_DHCP/form") New record
            li
                a(href="/module/Manage_DHCP/view") List
  div.row
    div.col-md-6
      form(role="form",action="/module/Manage_DHCP/post",method='POST')
        div.form-group
          label(for="IP") IP
          if(data['ip'] != undefined)
            input(name="ip",value="#{data['ip']}", type="text", class="form-control" ,id="ip", placeholder="")
          else
            input(name="ip", type="text", class="form-control" ,id="ip", placeholder="")
        div.form-group
          label(for="MAC") MAC
          if(data['mac'] != undefined)
            input(name="mac",value="#{data['mac']}", type="text", class="form-control" ,id="mac", placeholder="")
          else
            input(name="mac", type="text", class="form-control" ,id="mac", placeholder="")
        div.form-group
          label(for="MAChhh") MAChhh
          if(data['machhh'] != undefined)
            input(name="machhh",value="#{data['machhh']}", type="text", class="form-control" ,id="machhh", placeholder="")
          else
            input(name="machhh", type="text", class="form-control" ,id="machhh", placeholder="")
    
        div.form-group
          label(for="Area") Area
          if(data['area'] != undefined)
            select(name="area", type="text", class="form-control" ,id="area", placeholder="")
                option(value="#{data['area']}") #{data['area']}
                option(value='ircad') ircad
                option(value='ihu') ihu
          else
            select(name="area", type="text", class="form-control" ,id="area", placeholder="")
                option(value='ircad') ircad
                option(value='ihu') ihu
       
        button(type="submit" ,class="btn btn-success") Save