

extends ../layout


block CONTENT
          h1.page-header Manage_DHCP
            a(href="/cms/edit_module/Manage_DHCP")
                span(class="glyphicon glyphicon-cog pull-right")
          ul(class="nav nav-tabs nav-justified")
            li
                a(href="/module/Manage_DHCP/form") New record
            li.active
                a(href="/module/Manage_DHCP/view") List

          
          h2.sub-header List
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th IP
                  th MAC
                  th Area
              tbody
              each hs in data
                tr(id="tr-#{hs.ip}")
                  td #
                  td= hs.ip
                  td= hs.mac
                  td= hs.area
                  td
                        button.btn.btn-Red(onclick="run_script('undefined','')",data-toggle="modal" data-target="#console",style='height:30px;margin-left:5px') Set
                        button.btn.btn-Green(onclick="run_script('undefined','')",data-toggle="modal" data-target="#console",style='height:30px;margin-left:5px') Remove
                        button.btn.btn-Green(onclick="run_script('undefined','')",data-toggle="modal" data-target="#console",style='height:30px;margin-left:5px') Remove
                        a.btn.btn-default(href="/module/Manage_DHCP/edit/#{hs.ip}",style='height:30px; margin-left:5px') Edit
                        button.btn.btn-default(onclick="delete_row('#{hs.ip}')",style='height:30px; margin-left:5px') Remove




         
          script.
              var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
              function run_script(src,arg)
              {
                var arguments = arg;
                $('#console').modal('show')
                $.post("/run_shaker/"+src,{argv: arguments },function(data){
                   
                  $('#console-content').append("finish");       
                });
                
              }
              function delete_row(idd)
              {
                $.post("/module/Manage_DHCP/del",{key: idd},function(data)
                {
                  if(data=="ok")
                  {
                    var sst = '#tr-'+idd.replace(/\./g,'\\.');  
                    //alert(sst);
                    $(sst).hide();}
                });
              }
              
              
         