
extends ../layout
 

block CONTENT
  h1.page-header Manage_vm
            a(href="/cms/edit_module/Manage_vm")
                span(class="glyphicon glyphicon-cog pull-right")
  ul(class="nav nav-tabs nav-justified")
            li.active
                a(href="/module/Manage_vm/form") New record
            li
                a(href="/module/Manage_vm/view") List
  div.row
    div.col-md-6
      form(role="form",action="/module/Manage_vm/post",method='POST')
        div.form-group
          label(for="ip") ip
          if(data['ip'] != undefined)
            input(name="ip",value="#{data['ip']}", type="text", class="form-control" ,id="ip", placeholder="")
          else
            input(name="ip", type="text", class="form-control" ,id="ip", placeholder="")
        div.form-group
          label(for="mac") mac
          if(data['mac'] != undefined)
            input(name="mac",value="#{data['mac']}", type="text", class="form-control" ,id="mac", placeholder="")
          else
            input(name="mac", type="text", class="form-control" ,id="mac", placeholder="")
        div.form-group
          label(for="hostname") hostname
          if(data['host'] != undefined)
            input(name="host",value="#{data['host']}", type="text", class="form-control" ,id="host", placeholder="")
          else
            input(name="host", type="text", class="form-control" ,id="host", placeholder="")
        div.form-group
          label(for="Role") Role
          if(data['role'] != undefined)
            input(name="role",value="#{data['role']}", type="text", class="form-control" ,id="role", placeholder="")
          else
            input(name="role", type="text", class="form-control" ,id="role", placeholder="")
        div.form-group
          label(for="User") User
          if(data['user'] != undefined)
            input(name="user",value="#{data['user']}", type="text", class="form-control" ,id="user", placeholder="")
          else
            input(name="user", type="text", class="form-control" ,id="user", placeholder="")
        div.form-group
          label(for="Root password") Root password
          if(data['pass'] != undefined)
            input(name="pass",value="#{data['pass']}", type="text", class="form-control" ,id="pass", placeholder="")
          else
            input(name="pass", type="text", class="form-control" ,id="pass", placeholder="")
        div.form-group
          label(for="VMID") VMID
          if(data['vmid'] != undefined)
            input(name="vmid",value="#{data['vmid']}", type="text", class="form-control" ,id="vmid", placeholder="")
          else
            input(name="vmid", type="text", class="form-control" ,id="vmid", placeholder="")
        div.form-group
          label(for="HyperViseur ID") HyperViseur ID
          if(data['hv_id'] != undefined)
            input(name="hv_id",value="#{data['hv_id']}", type="text", class="form-control" ,id="hv_id", placeholder="")
          else
            input(name="hv_id", type="text", class="form-control" ,id="hv_id", placeholder="")
    
        div.form-group
          label(for="Type HyperViseur") Type HyperViseur
          if(data['hv_type'] != undefined)
            select(name="hv_type", type="text", class="form-control" ,id="hv_type", placeholder="")
                option(value="#{data['hv_type']}") #{data['hv_type']}
                option(value='Proxmox') Proxmox
                option(value='ESXI') ESXI
          else
            select(name="hv_type", type="text", class="form-control" ,id="hv_type", placeholder="")
                option(value='Proxmox') Proxmox
                option(value='ESXI') ESXI
        div.form-group
          label(for="Machine Type") Machine Type
          if(data['type'] != undefined)
            select(name="type", type="text", class="form-control" ,id="type", placeholder="")
                option(value="#{data['type']}") #{data['type']}
                option(value='VM') VM
                option(value='Physique') Physique
          else
            select(name="type", type="text", class="form-control" ,id="type", placeholder="")
                option(value='VM') VM
                option(value='Physique') Physique
        div.form-group
          label(for="Kernel") Kernel
          if(data['kernel'] != undefined)
            select(name="kernel", type="text", class="form-control" ,id="kernel", placeholder="")
                option(value="#{data['kernel']}") #{data['kernel']}
                option(value='3.8') 3.8
                option(value='3.11') 3.11
          else
            select(name="kernel", type="text", class="form-control" ,id="kernel", placeholder="")
                option(value='3.8') 3.8
                option(value='3.11') 3.11
       
        button(type="submit" ,class="btn btn-success") Save