

extends ../layout


block CONTENT
          h1.page-header Manage_vm
            a(href="/cms/edit_module/Manage_vm")
                span(class="glyphicon glyphicon-cog pull-right")
          ul(class="nav nav-tabs nav-justified")
            li
                a(href="/module/Manage_vm/form") New record
            li.active
                a(href="/module/Manage_vm/view") List

          
          h2.sub-header List
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th ip
                  th mac
                  th hostname
                  th Role
                  th VMID
                  th HyperViseur ID
                  th Type HyperViseur
                  th Machine Type
                  th Kernel
              tbody
              each hs in data
                tr(id="tr-#{hs.ip}")
                  td #
                  td= hs.ip
                  td= hs.mac
                  td= hs.host
                  td= hs.role
                  td= hs.vmid
                  td= hs.hv_id
                  td= hs.hv_type
                  td= hs.type
                  td= hs.kernel
                  td
                        button.btn.btn-Blue(onclick="run_script('Manage_vm_start_vm','#{hs.ip}',0,'Start')",style='height:30px;margin-left:5px') Start
                        button.btn.btn-Blue(onclick="run_script('Manage_vm_slat_accept_key','#{hs.host}',0,'Salt_it')",style='height:30px;margin-left:5px') Salt_it
                        a.btn.btn-default(href="/module/Manage_vm/edit/#{hs.ip}",style='height:30px; margin-left:5px') Edit
                        button.btn.btn-default(onclick="delete_row('#{hs.ip}')",style='height:30px; margin-left:5px') Remove

         
          script.
              var arg_prompt ='';     
              var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
              function run_script(src,arg,prompt,bt_name)
              {
                if(prompt==1)
                {
                    arg_prompt = arg;
                    $.get('/module/Manage_vm/prompt/'+bt_name,function(data){
                        $('#prompt-content').html(data);
                        $('#prompt').modal('show');
                    });
                    
                   
                }
                else
                {
                    var arguments = arg;
                    $('#prompt').modal('hide');
                    $('#console').modal('show')
                    $.post("/run_shaker/"+src,{argv: arguments },function(data){
                       
                      $('#console-content').append("");       
                    });
                }
                
              }
              function delete_row(idd)
              {
                $.post("/module/Manage_vm/del",{key: idd},function(data)
                {
                  if(data=="ok")
                  {
                    var sst = '#tr-'+idd.replace(/\./g,'\\.');  
                    //alert(sst);
                    $(sst).hide();}
                });
              }
              
              
         