

extends ../layout


block CONTENT
          h1.page-header Network_Device
            a(href="/cms/edit_module/Network_Device")
                span(class="glyphicon glyphicon-cog pull-right")
          ul(class="nav nav-tabs nav-justified")
            li
                a(href="/module/Network_Device/form") New record
            li.active
                a(href="/module/Network_Device/view") List

          
          h2.sub-header List
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th id
                  th Device hostname/ip
                  th Login
                  th Interface
                  th Vlans
                  th Status
                  th switchport mode
                  th Active
              tbody
              each hs in data
                tr(id="tr-#{hs.id}")
                  td #
                  td= hs.id
                  td= hs.hostname
                  td= hs.login
                  td= hs.interface
                  td= hs.vlans
                  td= hs.status
                  td= hs.switchport_mode
                  td= hs.active
                  td
                        button.btn.btn-Red(onclick="run_script('Network_Device_pull','#{hs.id}',1,'Push')",style='height:30px;margin-left:5px') Push
                        a.btn.btn-default(href="/module/Network_Device/edit/#{hs.id}",style='height:30px; margin-left:5px') Edit
                        button.btn.btn-default(onclick="delete_row('#{hs.id}')",style='height:30px; margin-left:5px') Remove

         
          script.
              var arg_prompt ='';     
              var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
              function run_script(src,arg,prompt,bt_name)
              {
                if(prompt==1)
                {
                    arg_prompt = arg;
                    $.get('/module/Network_Device/prompt/'+bt_name,function(data){
                        $('#prompt-content').html(data);
                        $('#prompt').modal('show');
                    });
                    
                   
                }
                else
                {
                    var arguments = arg;
                    $('#prompt').modal('hide');
                    $('#console').modal('show')
                    $.post("/run_shaker/"+src,{argv: arguments },function(data){
                       
                      $('#console-content').append("finish");       
                    });
                }
                
              }
              function delete_row(idd)
              {
                $.post("/module/Network_Device/del",{key: idd},function(data)
                {
                  if(data=="ok")
                  {
                    var sst = '#tr-'+idd.replace(/\./g,'\\.');  
                    //alert(sst);
                    $(sst).hide();}
                });
              }
              
              
         