

extends ../layout


block CONTENT
          h1.page-header undefined Dashboard

          div.row.placeholders
            div.col-xs-6.col-sm-3.placeholder
              img(data-src="holder.js/200x200/auto/sky" ,class="img-responsive", alt="Generic placeholder thumbnail")
              h4 Label
              span.text-muted Something else
          h2.sub-header List
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th ip
                  th mac
                  th host
                  th role
                  th gateway
                  th dns
              tbody
              each hs in data
                tr(id="tr-#{hs.hostname}")
                  td #
                  td= hs.ip
                  td= hs.mac
                  td= hs.hostname
                  td= hs.Role
                  td= hs.Gateway
                  td= hs.Dns
                  td
                        button.btn.btn-Blue(onclick="run_script('start_vm','#{hs.ip}')",data-toggle="modal" data-target="#console",style='height:30px') Start
                        button.btn.btn-Red(onclick="run_script('refreshOO','')",data-toggle="modal" data-target="#console",style='height:30px') refresh
                        button.btn.btn-Red(onclick="run_script('stop_vm','#{hs.ip}')",data-toggle="modal" data-target="#console",style='height:30px') Stop




         
          script.
              var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
              function run_script(src,arg)
              {
                var arguments = arg;
                $('#console').modal('show')
                $.post("/run_shaker/"+src,{argv: arguments },function(data){
                   
                  $('#console-content').append("finish");       
                });
                
              }
              
              
         