

extends layout


block CONTENT
          h1.page-header Dashboard

          div.row.placeholders
            div.col-xs-6.col-sm-3.placeholder
              img(data-src="holder.js/200x200/auto/sky" ,class="img-responsive", alt="Generic placeholder thumbnail")
              h4 Label
              span.text-muted Something else
          h2.sub-header List of virual machines
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th ip
                  th mac
                  th hoho
              tbody
              each hs in data
                tr(id="tr-#{hs.hostname}")
                  td #
                  td= hs.ip
                  td= hs.mac
                  td= hs.hoho
                  td
                    button.btn.btn-Blue(onclick="run_script('startOO','#{hs.refresh2}')",data-toggle="modal" data-target="#console",style='height:30px') start
                    button.btn.btn-Red(onclick="run_script('refreshOO','#{hs.}')",data-toggle="modal" data-target="#console",style='height:30px') refresh
                    button.btn.btn-Red(onclick="run_script('refreshOO','#{hs.}')",data-toggle="modal" data-target="#console",style='height:30px') refresh




         
          script.
              var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
              function run_script(scr,arg)
              {
                var arguments = arg;
                $('#console').modal('show')
                $.post("/run_shaker/"+src,{argv: arguments },function(data){
                   
                  $('#console-content').append("finish");       
                });
                
              }
              
              
         